BEGIN;

CREATE TABLE alembic_version (
    version_num VARCHAR(32) NOT NULL, 
    CONSTRAINT alembic_version_pkc PRIMARY KEY (version_num)
);

-- Running upgrade  -> 001_initial_schema

CREATE EXTENSION IF NOT EXISTS vector;;

CREATE TABLE source_documents (
    id SERIAL NOT NULL, 
    document_id VARCHAR(100) NOT NULL, 
    filename VARCHAR(255) NOT NULL, 
    standard_number VARCHAR(100), 
    revision VARCHAR(50), 
    source_type VARCHAR(50) NOT NULL, 
    source_url VARCHAR(500), 
    local_path VARCHAR(500), 
    status VARCHAR(50), 
    downloaded BOOLEAN DEFAULT false NOT NULL, 
    title VARCHAR(500), 
    notes TEXT, 
    created_at TIMESTAMP WITH TIME ZONE DEFAULT now(), 
    updated_at TIMESTAMP WITH TIME ZONE, 
    PRIMARY KEY (id), 
    CONSTRAINT uq_source_doc_document_id UNIQUE (document_id)
);

CREATE INDEX ix_source_documents_document_id ON source_documents (document_id);

CREATE INDEX ix_source_documents_standard_number ON source_documents (standard_number);

CREATE TABLE departments (
    id SERIAL NOT NULL, 
    code VARCHAR(100) NOT NULL, 
    name VARCHAR(255) NOT NULL, 
    ministry VARCHAR(255), 
    description TEXT, 
    created_at TIMESTAMP WITH TIME ZONE DEFAULT now(), 
    updated_at TIMESTAMP WITH TIME ZONE, 
    PRIMARY KEY (id), 
    CONSTRAINT uq_departments_code UNIQUE (code)
);

CREATE INDEX ix_departments_code ON departments (code);

CREATE INDEX ix_departments_ministry ON departments (ministry);

CREATE TABLE standards (
    id SERIAL NOT NULL, 
    standard_id VARCHAR(100) NOT NULL, 
    is_number VARCHAR(100) NOT NULL, 
    part VARCHAR(50), 
    section VARCHAR(50), 
    title TEXT NOT NULL, 
    scope TEXT, 
    description TEXT, 
    category VARCHAR(100), 
    subject_area VARCHAR(100), 
    division VARCHAR(100), 
    department_id INTEGER, 
    technical_committee VARCHAR(100), 
    publication_year INTEGER, 
    latest_year INTEGER, 
    status VARCHAR(50) DEFAULT 'CURRENT' NOT NULL, 
    supersedes VARCHAR(255), 
    certification_scheme VARCHAR(255), 
    is_mandatory_certification BOOLEAN, 
    qco_applicable BOOLEAN, 
    qco_reference TEXT, 
    keywords JSON, 
    source_document_id INTEGER, 
    source_file VARCHAR(100) NOT NULL, 
    source_provenance JSON, 
    embedding VECTOR(384), 
    created_at TIMESTAMP WITH TIME ZONE DEFAULT now(), 
    updated_at TIMESTAMP WITH TIME ZONE, 
    PRIMARY KEY (id), 
    CONSTRAINT uq_standards_standard_id UNIQUE (standard_id), 
    FOREIGN KEY(department_id) REFERENCES departments (id) ON DELETE SET NULL, 
    FOREIGN KEY(source_document_id) REFERENCES source_documents (id) ON DELETE SET NULL
);

CREATE INDEX ix_standards_standard_id ON standards (standard_id);

CREATE INDEX ix_standards_is_number ON standards (is_number);

CREATE INDEX ix_standards_category ON standards (category);

CREATE INDEX ix_standards_status ON standards (status);

CREATE INDEX ix_standards_publication_year ON standards (publication_year);

CREATE INDEX ix_standards_department_id ON standards (department_id);

CREATE TABLE standard_relationships (
    id SERIAL NOT NULL, 
    source_standard_id INTEGER NOT NULL, 
    target_standard_id INTEGER, 
    source_standard_number VARCHAR(100), 
    target_standard_number VARCHAR(100) NOT NULL, 
    target_standard_title TEXT, 
    relationship_type VARCHAR(100) NOT NULL, 
    relationship_category VARCHAR(100), 
    relationship_description TEXT, 
    confidence FLOAT DEFAULT '1.0' NOT NULL, 
    is_explicit_source BOOLEAN DEFAULT true NOT NULL, 
    source_dataset VARCHAR(100) NOT NULL, 
    source_provenance JSON, 
    created_at TIMESTAMP WITH TIME ZONE DEFAULT now(), 
    updated_at TIMESTAMP WITH TIME ZONE, 
    PRIMARY KEY (id), 
    CONSTRAINT uq_std_rel_source_target_type_explicit UNIQUE (source_standard_id, target_standard_number, relationship_type, is_explicit_source), 
    FOREIGN KEY(source_standard_id) REFERENCES standards (id) ON DELETE CASCADE, 
    FOREIGN KEY(target_standard_id) REFERENCES standards (id) ON DELETE SET NULL
);

CREATE INDEX ix_std_rel_source ON standard_relationships (source_standard_id);

CREATE INDEX ix_std_rel_target ON standard_relationships (target_standard_id);

CREATE INDEX ix_std_rel_type ON standard_relationships (relationship_type);

CREATE INDEX ix_std_rel_explicit ON standard_relationships (is_explicit_source);

CREATE TABLE standard_versions (
    id SERIAL NOT NULL, 
    standard_id INTEGER NOT NULL, 
    is_number VARCHAR(100) NOT NULL, 
    version_year INTEGER, 
    latest_year INTEGER, 
    amendment_number INTEGER, 
    amendment_year INTEGER, 
    change_description TEXT, 
    current_state VARCHAR(50) DEFAULT 'CURRENT' NOT NULL, 
    superseded_by VARCHAR(100), 
    superseded_state BOOLEAN DEFAULT false NOT NULL, 
    effective_date VARCHAR(100), 
    source_dataset VARCHAR(100) NOT NULL, 
    source_provenance JSON, 
    created_at TIMESTAMP WITH TIME ZONE DEFAULT now(), 
    updated_at TIMESTAMP WITH TIME ZONE, 
    PRIMARY KEY (id), 
    FOREIGN KEY(standard_id) REFERENCES standards (id) ON DELETE CASCADE
);

CREATE INDEX ix_std_versions_standard_id ON standard_versions (standard_id);

CREATE INDEX ix_std_versions_is_number ON standard_versions (is_number);

CREATE INDEX ix_std_versions_state ON standard_versions (current_state);

CREATE TABLE certification_records (
    id SERIAL NOT NULL, 
    standard_id INTEGER, 
    standard_number VARCHAR(100) NOT NULL, 
    product_name TEXT, 
    product_rating TEXT, 
    certification_type VARCHAR(100), 
    certification_status VARCHAR(100), 
    is_mandatory BOOLEAN, 
    requirement_level VARCHAR(50) DEFAULT 'UNKNOWN' NOT NULL, 
    source_dataset VARCHAR(100) NOT NULL, 
    source_provenance JSON, 
    created_at TIMESTAMP WITH TIME ZONE DEFAULT now(), 
    updated_at TIMESTAMP WITH TIME ZONE, 
    PRIMARY KEY (id), 
    FOREIGN KEY(standard_id) REFERENCES standards (id) ON DELETE SET NULL
);

CREATE INDEX ix_cert_records_standard_id ON certification_records (standard_id);

CREATE INDEX ix_cert_records_std_num ON certification_records (standard_number);

CREATE INDEX ix_cert_records_req_level ON certification_records (requirement_level);

CREATE TABLE qco_records (
    id SERIAL NOT NULL, 
    standard_id INTEGER, 
    standard_number VARCHAR(100) NOT NULL, 
    product_name TEXT, 
    qco_id VARCHAR(100), 
    qco_title TEXT, 
    notification_number VARCHAR(255), 
    notification_date VARCHAR(100), 
    notification_links TEXT, 
    ministry_department VARCHAR(255), 
    status VARCHAR(100), 
    is_mandatory BOOLEAN DEFAULT true NOT NULL, 
    source_dataset VARCHAR(100) NOT NULL, 
    source_provenance JSON, 
    created_at TIMESTAMP WITH TIME ZONE DEFAULT now(), 
    updated_at TIMESTAMP WITH TIME ZONE, 
    PRIMARY KEY (id), 
    FOREIGN KEY(standard_id) REFERENCES standards (id) ON DELETE SET NULL
);

CREATE INDEX ix_qco_records_std_id ON qco_records (standard_id);

CREATE INDEX ix_qco_records_std_num ON qco_records (standard_number);

CREATE INDEX ix_qco_records_qco_id ON qco_records (qco_id);

CREATE TABLE product_licences (
    id SERIAL NOT NULL, 
    product_category VARCHAR(255) NOT NULL, 
    licence_count INTEGER DEFAULT '0' NOT NULL, 
    raw_count_str VARCHAR(100), 
    source_dataset VARCHAR(100) DEFAULT 'productlicence.csv' NOT NULL, 
    source_provenance JSON, 
    created_at TIMESTAMP WITH TIME ZONE DEFAULT now(), 
    updated_at TIMESTAMP WITH TIME ZONE, 
    PRIMARY KEY (id), 
    CONSTRAINT uq_product_licence_category UNIQUE (product_category)
);

CREATE INDEX ix_product_licences_category ON product_licences (product_category);

CREATE TABLE ministry_product_mappings (
    id SERIAL NOT NULL, 
    ministry_department VARCHAR(255) NOT NULL, 
    product_name TEXT NOT NULL, 
    standard_number VARCHAR(100) NOT NULL, 
    standard_id INTEGER, 
    source_dataset VARCHAR(100) DEFAULT 'upcomming.csv' NOT NULL, 
    source_provenance JSON, 
    created_at TIMESTAMP WITH TIME ZONE DEFAULT now(), 
    updated_at TIMESTAMP WITH TIME ZONE, 
    PRIMARY KEY (id), 
    FOREIGN KEY(standard_id) REFERENCES standards (id) ON DELETE SET NULL
);

CREATE INDEX ix_ministry_mappings_dept ON ministry_product_mappings (ministry_department);

CREATE INDEX ix_ministry_mappings_std ON ministry_product_mappings (standard_number);

CREATE TABLE procurement_ontology (
    id SERIAL NOT NULL, 
    term VARCHAR(255) NOT NULL, 
    category VARCHAR(100), 
    domain VARCHAR(100), 
    definition TEXT, 
    canonical_name VARCHAR(255), 
    synonyms JSON, 
    parent_term_id INTEGER, 
    created_at TIMESTAMP WITH TIME ZONE DEFAULT now(), 
    updated_at TIMESTAMP WITH TIME ZONE, 
    PRIMARY KEY (id), 
    CONSTRAINT uq_procurement_ontology_term UNIQUE (term), 
    FOREIGN KEY(parent_term_id) REFERENCES procurement_ontology (id) ON DELETE SET NULL
);

CREATE INDEX ix_procurement_ontology_term ON procurement_ontology (term);

CREATE INDEX ix_procurement_ontology_canonical ON procurement_ontology (canonical_name);

CREATE TABLE procurement_aliases (
    id SERIAL NOT NULL, 
    alias VARCHAR(255) NOT NULL, 
    canonical_standard_number VARCHAR(100) NOT NULL, 
    standard_id INTEGER, 
    product_context TEXT, 
    confidence FLOAT DEFAULT '1.0' NOT NULL, 
    notes TEXT, 
    created_at TIMESTAMP WITH TIME ZONE DEFAULT now(), 
    updated_at TIMESTAMP WITH TIME ZONE, 
    PRIMARY KEY (id), 
    CONSTRAINT uq_procurement_alias_std UNIQUE (alias, canonical_standard_number), 
    FOREIGN KEY(standard_id) REFERENCES standards (id) ON DELETE CASCADE
);

CREATE INDEX ix_procurement_aliases_alias ON procurement_aliases (alias);

CREATE INDEX ix_procurement_aliases_std ON procurement_aliases (canonical_standard_number);

CREATE TABLE tender_documents (
    id SERIAL NOT NULL, 
    tender_number VARCHAR(100), 
    filename VARCHAR(255) NOT NULL, 
    title VARCHAR(500), 
    organization VARCHAR(255), 
    file_type VARCHAR(50) NOT NULL, 
    file_size INTEGER, 
    raw_text TEXT, 
    parsed_metadata JSON, 
    status VARCHAR(50) DEFAULT 'UPLOADED' NOT NULL, 
    created_at TIMESTAMP WITH TIME ZONE DEFAULT now(), 
    updated_at TIMESTAMP WITH TIME ZONE, 
    PRIMARY KEY (id), 
    CONSTRAINT uq_tender_number UNIQUE (tender_number)
);

CREATE INDEX ix_tender_documents_status ON tender_documents (status);

CREATE TABLE tender_sections (
    id SERIAL NOT NULL, 
    tender_id INTEGER NOT NULL, 
    section_title VARCHAR(255), 
    section_number VARCHAR(50), 
    page_number INTEGER, 
    content TEXT NOT NULL, 
    section_type VARCHAR(100), 
    created_at TIMESTAMP WITH TIME ZONE DEFAULT now(), 
    updated_at TIMESTAMP WITH TIME ZONE, 
    PRIMARY KEY (id), 
    FOREIGN KEY(tender_id) REFERENCES tender_documents (id) ON DELETE CASCADE
);

CREATE INDEX ix_tender_sections_tender_id ON tender_sections (tender_id);

CREATE TABLE tender_requirements (
    id SERIAL NOT NULL, 
    tender_id INTEGER NOT NULL, 
    section_id INTEGER, 
    requirement_text TEXT NOT NULL, 
    extracted_intent VARCHAR(100), 
    product_keywords JSON, 
    technical_attributes JSON, 
    is_mandatory BOOLEAN DEFAULT true NOT NULL, 
    created_at TIMESTAMP WITH TIME ZONE DEFAULT now(), 
    updated_at TIMESTAMP WITH TIME ZONE, 
    PRIMARY KEY (id), 
    FOREIGN KEY(tender_id) REFERENCES tender_documents (id) ON DELETE CASCADE, 
    FOREIGN KEY(section_id) REFERENCES tender_sections (id) ON DELETE SET NULL
);

CREATE INDEX ix_tender_requirements_tender_id ON tender_requirements (tender_id);

CREATE TABLE tender_standard_references (
    id SERIAL NOT NULL, 
    tender_id INTEGER NOT NULL, 
    section_id INTEGER, 
    requirement_id INTEGER, 
    standard_number_raw VARCHAR(100) NOT NULL, 
    detected_standard_id INTEGER, 
    is_valid BOOLEAN DEFAULT true NOT NULL, 
    is_superseded BOOLEAN DEFAULT false NOT NULL, 
    superseded_by_standard_id INTEGER, 
    detected_clause TEXT, 
    created_at TIMESTAMP WITH TIME ZONE DEFAULT now(), 
    updated_at TIMESTAMP WITH TIME ZONE, 
    PRIMARY KEY (id), 
    FOREIGN KEY(tender_id) REFERENCES tender_documents (id) ON DELETE CASCADE, 
    FOREIGN KEY(section_id) REFERENCES tender_sections (id) ON DELETE SET NULL, 
    FOREIGN KEY(requirement_id) REFERENCES tender_requirements (id) ON DELETE SET NULL, 
    FOREIGN KEY(detected_standard_id) REFERENCES standards (id) ON DELETE SET NULL, 
    FOREIGN KEY(superseded_by_standard_id) REFERENCES standards (id) ON DELETE SET NULL
);

CREATE INDEX ix_tender_std_refs_tender_id ON tender_standard_references (tender_id);

CREATE TABLE tender_audit_results (
    id SERIAL NOT NULL, 
    tender_id INTEGER NOT NULL, 
    audit_summary JSON, 
    expected_standards JSON, 
    missing_standards JSON, 
    outdated_standards JSON, 
    testing_gaps JSON, 
    safety_gaps JSON, 
    certification_gaps JSON, 
    coverage_score FLOAT, 
    audit_report JSON, 
    created_at TIMESTAMP WITH TIME ZONE DEFAULT now(), 
    updated_at TIMESTAMP WITH TIME ZONE, 
    PRIMARY KEY (id), 
    CONSTRAINT uq_tender_audit_tender_id UNIQUE (tender_id), 
    FOREIGN KEY(tender_id) REFERENCES tender_documents (id) ON DELETE CASCADE
);

CREATE INDEX ix_tender_audit_tender_id ON tender_audit_results (tender_id);

CREATE TABLE analysis_sessions (
    id SERIAL NOT NULL, 
    session_id VARCHAR(100) NOT NULL, 
    session_type VARCHAR(50) NOT NULL, 
    user_input TEXT NOT NULL, 
    detected_language VARCHAR(20) DEFAULT 'en' NOT NULL, 
    intent VARCHAR(100), 
    ambiguity_flag BOOLEAN DEFAULT false NOT NULL, 
    clarification_prompt TEXT, 
    conversation_context JSON, 
    created_at TIMESTAMP WITH TIME ZONE DEFAULT now(), 
    updated_at TIMESTAMP WITH TIME ZONE, 
    PRIMARY KEY (id), 
    CONSTRAINT uq_analysis_session_id UNIQUE (session_id)
);

CREATE INDEX ix_analysis_sessions_session_id ON analysis_sessions (session_id);

CREATE INDEX ix_analysis_sessions_type ON analysis_sessions (session_type);

CREATE INDEX ix_analysis_sessions_intent ON analysis_sessions (intent);

CREATE TABLE analysis_requirements (
    id SERIAL NOT NULL, 
    session_id INTEGER NOT NULL, 
    requirement_type VARCHAR(100) NOT NULL, 
    extracted_key VARCHAR(100) NOT NULL, 
    extracted_value TEXT NOT NULL, 
    confidence FLOAT DEFAULT '1.0' NOT NULL, 
    created_at TIMESTAMP WITH TIME ZONE DEFAULT now(), 
    updated_at TIMESTAMP WITH TIME ZONE, 
    PRIMARY KEY (id), 
    FOREIGN KEY(session_id) REFERENCES analysis_sessions (id) ON DELETE CASCADE
);

CREATE INDEX ix_analysis_reqs_session_id ON analysis_requirements (session_id);

CREATE TABLE recommendation_results (
    id SERIAL NOT NULL, 
    session_id INTEGER NOT NULL, 
    primary_standard_id INTEGER, 
    primary_standard_number VARCHAR(100) NOT NULL, 
    relevance_score FLOAT NOT NULL, 
    confidence_score FLOAT NOT NULL, 
    explanation TEXT, 
    evidence_summary JSON, 
    matched_requirements JSON, 
    rank INTEGER DEFAULT '1' NOT NULL, 
    created_at TIMESTAMP WITH TIME ZONE DEFAULT now(), 
    updated_at TIMESTAMP WITH TIME ZONE, 
    PRIMARY KEY (id), 
    FOREIGN KEY(session_id) REFERENCES analysis_sessions (id) ON DELETE CASCADE, 
    FOREIGN KEY(primary_standard_id) REFERENCES standards (id) ON DELETE SET NULL
);

CREATE INDEX ix_rec_results_session_id ON recommendation_results (session_id);

CREATE INDEX ix_rec_results_std_num ON recommendation_results (primary_standard_number);

CREATE TABLE generated_specifications (
    id SERIAL NOT NULL, 
    session_id INTEGER, 
    tender_id INTEGER, 
    standard_id INTEGER, 
    spec_type VARCHAR(100) NOT NULL, 
    content TEXT NOT NULL, 
    grounding_evidence JSON, 
    created_at TIMESTAMP WITH TIME ZONE DEFAULT now(), 
    updated_at TIMESTAMP WITH TIME ZONE, 
    PRIMARY KEY (id), 
    FOREIGN KEY(session_id) REFERENCES analysis_sessions (id) ON DELETE SET NULL, 
    FOREIGN KEY(tender_id) REFERENCES tender_documents (id) ON DELETE SET NULL, 
    FOREIGN KEY(standard_id) REFERENCES standards (id) ON DELETE SET NULL
);

CREATE INDEX ix_gen_specs_spec_type ON generated_specifications (spec_type);

CREATE TABLE evaluation_queries (
    id SERIAL NOT NULL, 
    query_id VARCHAR(50) NOT NULL, 
    query_text TEXT NOT NULL, 
    category VARCHAR(100), 
    expected_intent VARCHAR(100) NOT NULL, 
    clarification_expected BOOLEAN DEFAULT false NOT NULL, 
    expected_retrieval_operations JSON, 
    expected_evidence TEXT, 
    answerable_with_current_data BOOLEAN DEFAULT true NOT NULL, 
    created_at TIMESTAMP WITH TIME ZONE DEFAULT now(), 
    updated_at TIMESTAMP WITH TIME ZONE, 
    PRIMARY KEY (id), 
    CONSTRAINT uq_evaluation_query_id UNIQUE (query_id)
);

CREATE INDEX ix_eval_queries_query_id ON evaluation_queries (query_id);

CREATE INDEX ix_eval_queries_intent ON evaluation_queries (expected_intent);

CREATE TABLE evaluation_results (
    id SERIAL NOT NULL, 
    evaluation_query_id INTEGER NOT NULL, 
    test_run_id VARCHAR(100) NOT NULL, 
    actual_intent VARCHAR(100), 
    actual_retrieved_standards JSON, 
    precision_at_1 FLOAT, 
    precision_at_3 FLOAT, 
    recall_at_5 FLOAT, 
    mrr FLOAT, 
    latency_ms FLOAT, 
    pass_fail BOOLEAN DEFAULT true NOT NULL, 
    error_details TEXT, 
    created_at TIMESTAMP WITH TIME ZONE DEFAULT now(), 
    updated_at TIMESTAMP WITH TIME ZONE, 
    PRIMARY KEY (id), 
    FOREIGN KEY(evaluation_query_id) REFERENCES evaluation_queries (id) ON DELETE CASCADE
);

CREATE INDEX ix_eval_results_query_id ON evaluation_results (evaluation_query_id);

CREATE INDEX ix_eval_results_run_id ON evaluation_results (test_run_id);

INSERT INTO alembic_version (version_num) VALUES ('001_initial_schema') RETURNING alembic_version.version_num;

COMMIT;

